html, body{
    width: 100%;
    height: 100%;
    background-color: #235EA1;
}

.head{
    border-radius: 15px 15px 5px 5px;
}

#horaOscura{
    background-color: #D2E5EE;
    border-radius: 10px 0px 0px 10px;
}

#hora{
    background-color: #E8F0F4;
    border-radius: 10px 0px 0px 10px;
}

#camposClaros{
    background-color: #649CB7;
    border-bottom: #468DAE 2px solid;
    border-top: #468DAE 2px solid;
}

#camposOscuros{
    background-color: #468DAE;
    border-bottom: #649CB7 2px solid;
    border-top: #649CB7 2px solid;
}