/* Estilos para la ventana modal de añadir estudiante */
.modal_anadir_estudiante {
    display: none; /* Asegura que el modal esté oculto al cargar la página */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
/*    display: flex;  /* Se activa con JS */ 
    justify-content: center;
    align-items: center;
}

/* Contenedor del contenido del modal */
.modal_anadir_contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #E8F0F4;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    color: #235EA1;
    text-align: center;
    transform: translate(-50%, -50%); /* Lo centra completamente */
}


/* Botón para cerrar el modal */
.cerrar_modal_anadir {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #235EA1;
}

.cerrar_modal_anadir:hover {
    color: #1E4D8A;
}

/* Estilos del formulario */
#formulario_anadir_estudiante {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.grupo_formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.grupo_formulario label {
    font-size: 14px;
    font-weight: bold;
    color: #235EA1;
}

.grupo_formulario input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #235EA1;
    font-size: 14px;
}

.check_grupo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn_guardar_estudiante {
    background-color: #235EA1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_guardar_estudiante:hover {
    background-color: #1E4D8A;
}


.itemBodyBotones a {
    margin:0.6rem;
    color:white;
    text-decoration:none;
    background-color: #235ea1;
    padding:0.4rem;
    border: 1px solid black;
}