.menu {
    --s: 40px; /* control the size */
    --c: #E8F0F4; /* the color */
    
    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000; 
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
           no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
           repeat-y content-box border-box;
    background: 
      var(--_g2) left  var(--_p,0px) top,
      var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
      var(--_g2) right var(--_p,0px) top,
      var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
    background-size: 
      20% 80%,
      40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
    cursor: pointer;
    transition: 
      background-position .3s var(--_s,.3s), 
      clip-path 0s var(--_s,.6s);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  .menu:before,
  .menu:after {
    content:"";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s,.3s));
  }
  
  .menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
  }
  .menu:checked:before {
    transform: rotate(45deg);
  }
  .menu:checked:after {
    transform: rotate(-45deg);
  }
  .menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }

/* --- */

#menuBlock {
  display: none;
  width: 200px;
  height: 225px;
  background-color: #468DAE;
  position: absolute;
  padding: 5px;
  top: 80px;
  left: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.75);
}

hr{
  color: #E8F0F4;
}

#menuBlock p{
  margin: 10px;
}

#menuBlock a{
  font-weight: bold;
  color: #E8F0F4;
  text-decoration: none;
  padding: 5px;
}

#body {
    margin:0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #235EA1;
}

#header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}

#mainContainer{
    height: 70vh;
    width: 90vw;
    margin: 5vw;
}

#sectionContainer{
    background-color: #E8F0F4;
    height: 90%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
}

.itemWrapper{
    width: 80%;
    height: 100%;
}

.itemHeader{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #E8F0F4;
    background-color: #235EA1;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemHeader.abierto{
  border-radius: 10px 10px 0px 0px;
}

.itemBody{
  width: 100%;
  height: 35%;
  background-color: #468DAE;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-height: 0; /* Inicialmente oculto */
  padding: 0px 10px;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.itemBody div{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #235EA1;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}

.itemBody div input{
  width: 20px;
  height: 20px;
}

.itemBody.mostrar{
  opacity: 1;
  padding: 10px;
}

.boton{
  background-color: unset;
  border: none;
}

.boton img{
  width: 30px;
  height: 20px;
}

.flecha{
  transition: transform 0.3 ease-in-out;
}

.flecha.rotar {
  transform: rotate(180deg);
}

.itemHeader:has(button) + .flecha{
  transform: rotate(180deg);
}

#containerButtons{
  display: flex;
  flex-direction: column;
  height: 150px;
}

#containerButtons div{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  text-align: center;
}

#containerButtons div button{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 60%;
  border: none;
  align-content: center;
  text-decoration: none;
  background-color: #F4791B;
  border-radius: 15%;
  box-shadow: 3px 3px 8px rgb(0, 0, 0);
  color: white;
}

#containerButtons div button:active{
  transform: scale(0.8);
  background-color: #1BF49D;
}

/*Container en none*/

#mainContainerPresencial{
  height: 70vh;
  width: 90vw;
  margin: 5vw;
}

#sectionContainerPresencial{
  background-color: #E8F0F4;
  height: 90%;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
}

.itemWrapperPresencial{
  width: 80%;
  height: 100%;
}

.itemHeaderPresencial{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #E8F0F4;
  background-color: #235EA1;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.itemHeaderPresencial.abierto{
border-radius: 10px 10px 0px 0px;
}

.itemBodyPresencial{
width: 100%;
height: 35%;
background-color: #468DAE;
border-radius: 0 0 10px 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
max-height: 0; /* Inicialmente oculto */
padding: 0px 10px;
opacity: 0;
transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.itemBodyPresencial div{
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
background-color: #235EA1;
display: flex;
color: white;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 7px;
}

.itemBodyPresencial div input{
width: 20px;
height: 20px;
}

.itemBodyPresencial.mostrar{
opacity: 1;
padding: 10px;
}

.botonPresencial{
background-color: unset;
border: none;
}

.botonPresencial img{
width: 30px;
height: 20px;
}

.flechaPresencial{
transition: transform 0.3 ease-in-out;
}

.flechaPresencial.rotar {
transform: rotate(180deg);
}

.itemHeaderPresencial:has(button) + .flecha{
transform: rotate(180deg);
}