.menu {
    --s: 40px;
    /* control the size */
    --c: #E8F0F4;
    /* the color */

    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box border-box;
    background:
        var(--_g2) left var(--_p, 0px) top,
        var(--_g1) left calc(var(--s)/10 + var(--_p, 0px)) top,
        var(--_g2) right var(--_p, 0px) top,
        var(--_g1) right calc(var(--s)/10 + var(--_p, 0px)) top;
    background-size:
        20% 80%,
        40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition:
        background-position .3s var(--_s, .3s),
        clip-path 0s var(--_s, .6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu:before,
.menu:after {
    content: "";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s, .3s));
}

.menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
}

.menu:checked:before {
    transform: rotate(45deg);
}

.menu:checked:after {
    transform: rotate(-45deg);
}

.menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}

/* --- */

#body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #235EA1;
}

#header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}

#mainContainer {
    height: 70vh;
    width: 90vw;
    margin: 5vw;
    justify-content: space-between;
}

#nav {
    background-color: #468DAE;
    height: 10%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px;
    color: #E8F0F4;
}

#sectionContainer {
    background-color: #E8F0F4;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: fit-content;
    height: auto;
    transition: height 0.5s ease-in-out;
}

.itemWrapper {
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    color: white;
}

.itemHeader {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E8F0F4;
    background-color: #235EA1;
    border-radius: 5px 5px 0 0;

    padding: 10px;


}

.itemHeader.abierto {
    border-radius: 5px 5px 0px 0px;
}

.itemBody {
    width: 100%;
    background-color: #468DAE;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    max-height: 0;
    /* Inicialmente oculto */
    padding: 0px 10px;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.itemBody.mostrar {
    opacity: 1;
    padding: 10px;
    max-height: 600px;
    margin-bottom: 10px;
}


.boton {
    background-color: unset;
    border: none;
}

.boton img {
    width: 30px;
    height: 20px;
}

.addBoton {
    background-color: unset;
    border: none;
    outline: none;
}

.addBoton img {
    width: 30px;
    height: 30px;
    filter: brightness(1.5);
}

.addBoton:hover img {
    filter: brightness(1.75);
    transform: scale(1.15);
}

.flecha {
    transition: transform 0.3 ease-in-out;
}

.flecha.rotar {
    transform: rotate(180deg);
}

.itemHeader:has(button)+.flecha {
    transform: rotate(180deg);
}

.botonesCiclo {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.botonesCiclo button {
    background-color: #235EA1;
    color: white;
    outline: none;
    border: none;
}

.verModulos:hover {
    background-color: rgb(46, 116, 196);
    transform: scale(1.10);
}

.editarCiclo:hover {
    background-color: rgb(46, 116, 196);
    transform: scale(1.10);
}

/*  POPUP */

/* Fondo del popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenido del popup */
.popup-content {
    background: white;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Botón de cerrar */
.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: #235EA1;
}

.close-popup:hover {
    color: red;
}